Source: libxdxct-container
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Maintainer: XDXCT CORPORATION <tools@xdxct.com>

Package: libxdxct-container@MAJOR@
Section: @SECTION@libs
Priority: optional
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: XDXCT container runtime library
 The xdxct-container library provides an interface to configure GNU/Linux
 containers leveraging XDXCT hardware. The implementation relies on several
 kernel subsystems and is designed to be agnostic of the container runtime.
 .
 This package requires the XDXCT driver (>= 340.29) to be installed separately.

Package: libxdxct-container-dev
Section: @SECTION@libdevel
Priority: optional
Architecture: any
Multi-Arch: same
Depends: libxdxct-container@MAJOR@ (= ${binary:Version}), ${misc:Depends}
Description: XDXCT container runtime library (development files)
 The xdxct-container library provides an interface to configure GNU/Linux
 containers leveraging XDXCT hardware. The implementation relies on several
 kernel subsystems and is designed to be agnostic of the container runtime.
 .
 This package contains the files required to compile programs with the library.

Package: libxdxct-container@MAJOR@-dbg
Section: @SECTION@debug
Priority: optional
Architecture: any
Multi-Arch: same
Depends: libxdxct-container@MAJOR@ (= ${binary:Version}), ${misc:Depends}
Description: XDXCT container runtime library (debugging symbols)
 The xdxct-container library provides an interface to configure GNU/Linux
 containers leveraging XDXCT hardware. The implementation relies on several
 kernel subsystems and is designed to be agnostic of the container runtime.
 .
 This package contains the debugging symbols for the library.

Package: libxdxct-container-tools
Section: @SECTION@utils
Priority: optional
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: XDXCT container runtime library (command-line tools)
 The xdxct-container library provides an interface to configure GNU/Linux
 containers leveraging XDXCT hardware. The implementation relies on several
 kernel subsystems and is designed to be agnostic of the container runtime.
 .
 This package contains command-line tools that facilitate using the library.
